

/* 상품 등록*/
.form-card { max-width: 600px; margin: 40px auto; padding: 30px; border: 1px solid #ddd; border-radius: 12px; background-color: #f9f9f9; box-shadow: 0 4px 10px rgba(0,0,0,0.05); }
.form-card h2 { margin-bottom: 25px; border-bottom: 2px solid #333; padding-bottom: 10px; }
.form-label { font-weight: bold; }
.form-control { max-width: 400px !important;}
    
/* 상품 리스트*/
.product-card{border:1px solid #ddd;border-radius:8px;padding:10px;margin-bottom:20px;text-align:center;transition:box-shadow .3s;height:100%}
.product-card:hover{box-shadow:0 4px 8px rgba(0,0,0,.1)}
.product-image{height:160px;object-fit:cover;width:100%;border-radius:5px}
.product-name{font-weight:700;margin-top:10px}
.product-price{color:#d9534f;margin-top:5px;font-size:16px}
.btn-small{padding:4px 8px;font-size:12px}
.wish-btn{border:0;background:0;font-size:20px;cursor:pointer}
.wish-btn.disabled{cursor:not-allowed;opacity:.5}
.top-right{text-align:right;margin-bottom:15px}

/*상품 상세*/
.detail-container{max-width:1100px;margin:40px auto;padding:20px}
.top-section{display:flex;flex-wrap:wrap;gap:30px;background:#fff;padding:20px;border-radius:12px;box-shadow:0 0 10px rgba(0,0,0,.05)}
.top-section img{width:auto;height:auto;border-radius:8px;object-fit:cover}
.product-info{flex:1;position:relative}
.product-info h2{font-size:24px;margin-bottom:10px;display:inline-block}
#wishBtn{cursor:pointer;border:none;background:none;font-size:28px;color:#d9534f;padding:0 10px;vertical-align:middle;margin-left:15px}
#wishBtn.disabled{cursor:not-allowed;opacity:.5}
.price{font-size:20px;margin-bottom:15px}
.price del{color:gray;margin-right:10px}
.form-control{max-width:100px;display:inline-block;margin-right:10px}
.bottom-section{margin-top:50px}
.bottom-section img{width:100%;margin-bottom:20px;border-radius:10px}

/*상품 수정*/
.form-card{max-width:600px;margin:40px auto;padding:30px;border:1px solid #ddd;border-radius:12px;background-color:#f9f9f9;box-shadow:0 4px 10px rgba(0,0,0,.05)}
.form-card h2{margin-bottom:25px;border-bottom:2px solid #333;padding-bottom:10px}
.form-label{font-weight:bold}